pkgbase = hp-cp1025nw-cups
	pkgdesc = CUPS drivers for printer HP cp1025nw
	pkgver = 20201127
	pkgrel = 1
	url = https://github.com/frealgagu/hp-cp1025nw-cups
	install = foo2zjs.install
	arch = i686
	arch = x86_64
	license = GPL
	license = custom
	makedepends = bc
	makedepends = unzip
	makedepends = wget
	depends = psutils
	depends = cups
	depends = foomatic-db-engine
	conflicts = foo2zjs
	options = !emptydirs
	options = !ccache
	source = foo2zjs.tar.gz
	sha256sums = ad7c72d650c71486169e8ab67f3d4e4f37b041319541482bac45f6ea1d6848ec

pkgname = hp-cp1025nw-cups
